#       OS        #
###################
.DS_Store
.idea
Thumbs.db
tmp/
temp/
.vscode


#     Node.js     #
###################
node_modules
npm-debug.log*


#      Files      #
###################
*.log
.env
